@charset "UTF-8";
/**
 * Theme for CSS from the Future
 *
 * http://www.colourlovers.com/palette/1437170/The_Future_Retro
 */
@import url("https://fonts.googleapis.com/css?family=Changa+One");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=Bevan");
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #0f1719;
  background-color: #0f1719; }

.reveal {
  font-family: "Bevan", Impact, sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #e8547e;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #ffc871;
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.11em; }

.reveal h2 {
  font-size: 1.55em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #e8547e;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #f4aec2;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #d31c50; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e8547e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #e8547e; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #e8547e; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #e8547e; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #e8547e; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #f4aec2; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #f4aec2; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #f4aec2; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #f4aec2; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #e8547e;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/* overrides */
.reveal h1 {
  text-align: center; }

.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: "Bevan", Impact, sans-serif; }

.reveal h4, .reveal h5, .reveal h6 {
  color: #fff; }

.reveal pre {
  width: initial; }
  .reveal pre:first-child {
    margin-top: 0; }

.reveal code mark {
  padding: 0 0.1em;
  color: inherit;
  background-color: transparent;
  box-shadow: 0 0 0.3em 0.2em #e8547e; }

.reveal section img {
  border: 0;
  box-shadow: none;
  background: none; }

.reveal .slides {
  text-align: left; }
  .reveal .slides img:only-child {
    display: block;
    margin: 0 auto; }
  .reveal .slides img.image-nocenter {
    margin: initial; }

.reveal p {
  margin: 1.414em 0; }

.reveal em, .reveal strong {
  color: #ffc871;
  font-weight: bold;
  font-style: normal; }

.reveal em {
  font-size: 1.414em; }

.reveal strong {
  font-size: 1.999em; }

.reveal .wordy {
  font-family: "Arvo", Helvetica, Arial, sans-serif; }

/*
 * individual slides
 */
.slide-title {
  text-align: center; }
  .slide-title h1 {
    font-family: "Bevan", Impact, sans-serif;
    color: #0f1719;
    text-align: center;
    text-shadow: 0.01em 0.01em 0.1em #ffc871; }
  .slide-title .council {
    width: 35vw; }

.reveal .columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30vh; }
  .reveal .columns > li {
    width: 30%; }

.reveal .stages {
  list-style: none;
  padding-left: 0;
  font-size: 0.7em; }

.reveal .stages:not(.stages--full) {
  margin-top: 3.998em;
  display: flex;
  justify-content: center; }
  .reveal .stages:not(.stages--full) > li + li {
    margin-left: 2em; }

.reveal .stages > li {
  position: relative;
  padding: 1em;
  border: 2px solid currentColor;
  border-radius: 0.5em;
  color: #375157;
  background-color: #e6eaeb;
  text-align: center; }
  .reveal .stages > li.is-active {
    background-color: #ffc871; }
  .reveal .stages > li + li::before {
    position: absolute;
    top: calc(50% - 0.7em);
    left: -1.5em;
    content: "➡";
    color: #e6eaeb; }

.reveal .stages--full li {
  width: 80%; }

.reveal .stages--full > li + li {
  margin-top: 1em; }
  .reveal .stages--full > li + li::before {
    content: "➥";
    font-size: 2em; }

.reveal .stages--full li:nth-child(2) {
  margin-left: 4em; }

.reveal .stages--full li:nth-child(3) {
  margin-left: 8em; }

.reveal .stages--full li:nth-child(4) {
  margin-left: 12em; }

.reveal .stages--full li:nth-child(5) {
  margin-left: 16em; }

.slide-vars-basic .button {
  background-color: #e8547e;
  padding: 0.5em;
  color: white;
  border: none;
  font-size: 1em; }

/**
 * Utils
 */
.reveal .split {
  display: flex;
  width: 100%;
  margin-left: -1em;
  margin-right: -1em; }
  .reveal .split > * {
    flex: 1;
    margin: 0 1em; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.block-link.block-link {
  display: inline-block;
  vertical-align: top; }

.example-good,
.example-bad {
  position: relative; }

.example-good::after,
.example-bad::after {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 1.2em;
  width: 1.2em;
  text-align: center;
  color: #333;
  border-radius: 50%;
  font-size: 1.2em;
  line-height: 1.2; }

.example-good::after {
  content: "\2713";
  background-color: #5293a2; }

.example-bad::after {
  content: "\2717";
  background-color: #e8547e; }

.swatch {
  display: inline-block;
  height: 2em;
  width: 2em;
  border-radius: 0.2em;
  vertical-align: -0.7em;
  margin-left: 0.4em; }
