/**
 * Theme for CSS from the Future
 *
 * http://www.colourlovers.com/palette/1437170/The_Future_Retro
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Changa+One");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=Bevan");


// Override theme settings (see ../template/settings.scss)
// $black: #16031f;
// $olive: #c2c2a8;
// $paleYellow: #ffffd4;
// $paleGreen: #b3d8c6;
// $brightRed: #dd334d;

$teal: #375157;
$black: darken($teal, 20%);
$white: #e6eaeb;
$gold: #ffc871;
$red: #e8547e;
$green: saturate(lighten($teal, 20%), 10%);

// $backgroundColor: #001b38;

$backgroundColor: $black;

$mainFont: 'Bevan', Impact, sans-serif;
$mainColor: #fff;
$linkColor: $red;
$linkColorHover: lighten($linkColor, 20%);
$headingFont: 'Arvo', Helvetica, Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$headingColor: $gold;
$selectionBackgroundColor: $red;
$mainFontSize: 30px;

$heading1Size: 2.11em;
$heading2Size: 1.55em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/* overrides */
.reveal {

  h1 {
    text-align: center;
  }

  h3, h4, h5, h6 {
    font-family: $mainFont;
  }

  h4, h5, h6 {
    color: $mainColor;
  }

  pre {
    width: initial;

    &:first-child {
      margin-top: 0;
    }
  }

  code mark {
    padding: 0 0.1em;
    color: inherit;
    background-color: transparent;
    box-shadow: 0 0 0.3em 0.2em $red;
  }

  section img {
    border: 0;
    box-shadow: none;
    background: none;
  }

  .slides {
    text-align: left;

    img:only-child {
      display: block;
      margin: 0 auto;
    }

    img.image-nocenter {
      margin: initial;
    }
  }

  p {
    margin: 1.414em 0;
  }

  em, strong {
    color: $gold;
    font-weight: bold;
    font-style: normal;
  }

  em {
    font-size: 1.414em;
  }

  strong {
    font-size: 1.999em;
  }

  .wordy {
    font-family: $headingFont;
  }
}

/*
 * individual slides
 */

.slide-title {
  text-align: center;

  h1 {
    font-family: $mainFont;
    color: $black;
    text-align: center;
    text-shadow: 0.01em 0.01em 0.1em $gold;
  }

  .council {
    width: 35vw;
  }
}

.reveal {
  .columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 30vh;

    > li {
      width: 30%
    }
  }

  .stages {
    list-style: none;
    padding-left: 0;
    font-size: 0.7em;
  }
  .stages:not(.stages--full) {
    margin-top: 3.998em;
    display: flex;
    justify-content: center;

    > li + li {
      margin-left: 2em;
    }
  }

  .stages > li {
    position: relative;
    padding: 1em;
    border: 2px solid currentColor;
    border-radius: 0.5em;
    color: $teal;
    background-color: $white;
    text-align: center;

    &.is-active {
      background-color: $gold;
    }

    + li::before {
      position: absolute;
      top: calc(50% - 0.7em);
      left: -1.5em;
      content: "➡";
      color: $white;
    }
  }
  .stages--full {
    li {
      width: 80%;
    }

    > li + li {
      margin-top: 1em;

      &::before {
        content: "➥";
        font-size: 2em;
      }
    }

    li:nth-child(2) {
      margin-left: 4em;
    }
    li:nth-child(3) {
      margin-left: 8em;
    }
    li:nth-child(4) {
      margin-left: 12em;
    }
    li:nth-child(5) {
      margin-left: 16em;
    }
  }
}

.slide-vars-basic {
  .button {
    background-color: #e8547e;
    padding: 0.5em;
    color: white;
    border: none;
    font-size: 1em;
  }
}

/**
 * Utils
 */
.reveal .split {
  display: flex;
  width: 100%;
  margin-left: -1em;
  margin-right: -1em;

  > * {
    flex: 1;
    margin: 0 1em;
  }
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.block-link.block-link {
  display: inline-block;
  vertical-align: top;
}

.example-good,
.example-bad {
  position: relative;
}
.example-good::after,
.example-bad::after {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 1.2em;
  width: 1.2em;
  text-align: center;
  color: #333;
  border-radius: 50%;
  font-size: 1.2em;
  line-height: 1.2;
}
.example-good::after {
  content: "\2713";
  background-color: $green;
}
.example-bad::after {
  content: "\2717";
  background-color: $red;
}

.swatch {
  display: inline-block;
  height: 2em;
  width: 2em;
  border-radius: 0.2em;
  vertical-align: -0.7em;
  margin-left: 0.4em;
}
